
.part-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.part-form label {
  margin-bottom: 10px;
}

.part-form input,
.part-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.part-form .buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-button,
.cancel-button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  background-color: #007bff;
  color: #fff;
}

.cancel-button {
  background-color: #ccc;
}
